Logbook==0.10.1
SQLAlchemy==1.0.8
beautifulsoup4==4.4.0
jsonpatch==1.11
jsonpointer==1.9
jsonschema==2.5.1
log-colorizer==1.6
lxml==3.4.4
psycopg2cffi==2.7.2
pyramid==1.5.7
pyramid-debugtoolbar==2.4.1
pyramid-jinja2==2.5
uWSGI==2.0.11.1
