<html>
  <body>
    <h1>Form for testing TBX-Basic import</h1>
    <form method="POST" enctype="multipart/form-data">
      <label for="file">TBX File:</label>
      <input type="file" name="file" id="file"><br>
      <label for="name">Termbase Name:</label>
      <input type="text" name="name" id="name"><br>
      <input type="submit" name="submit" value="Submit">
    </form>
  </body>
</html>
